html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #fff;
  line-height: 1.5;
  margin: 0;
}

#main-doc header {
  text-align: left;
  margin: 15px 0 15px 50px;
  font-weight: bold;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

#main-doc {
  font-weight: lighter;
  position: relative;
  margin-left: 305px;
}

#main-doc section header {
  font-family: 'Molengo', sans-serif;
  font-weight: 900;
  font-size: 32px;
}

#main-doc section article {
  display: flex;
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  margin-left: 50px;
  margin-right: 50px;
  color: #000;
  justify-content:center
}

#main-doc section article ol li {
  margin-left: -20px;
}

#navbar ul header {
  margin-left: -20px;
  margin-right: 1px;
  font-family: 'Molengo', sans-serif;
  font-weight: bolder;
  font-size: 32px;
}

#navbar ul li {
  margin: 0 0 15px;
}