html,
body {
  /* font-family: Helvetica; */
  font-family: 'Open Sans', Verdana, Tahoma;
  min-width: 290px;
  color: #4d4e53;
  background-color: #fff;
  line-height: 1.5;
  margin: 0;
}

#main-doc header {
  text-align: left;
  margin: 15px 0 15px 50px;
  /* font-weight: bold; */
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

#navbar header {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 20px 40px;
}

#main-doc {
  font-weight: lighter;
  position: relative;
  margin-left: 305px;
}

#main-doc section header {
  font-weight: normal;
  font-family: 'Open Sans', Tahoma;
}

#main-doc section article {
  display: block;
  /* font-family: Helvetica; */

  font-family: 'Open Sans', Arial, sans-serif;

  font-size: 1.2em;
  /* font-weight: bolder; */
  margin-left: 50px;
  margin-right: 50px;
  color: #000;
  justify-content:center
}

#Introduction_PHP {
  margin-left: 0px;
}

#main-doc #launching_zoho_desktop_mail_application {
  margin-left: 0px;
}

#Introduction_PHP #php_introduction_comments {
  margin-left: 70px;
}

#main-doc section article ol li {
  /* margin-left: -20px; */
  align-content: space-between;
  justify-content: space-evenly;
}

#main-doc #PHP_Some_Characteristics article ul li {
  /* margin-left: -23px; */
  align-content: space-between;
  justify-content: space-evenly;
}

#main-doc #PHP_Other_Characteristics p {
  margin-left: 20px;
}

#main-doc #PHP_Why_should_we_use_PHP article {
  margin-left: 70px;
}

#navbar ul header {
  margin-left: -20px;
  margin-right: 1px;
}

#navbar ul li {
  margin: 0 0 15px;
  list-style: none;
}

.code {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(242, 238, 238);
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
