/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif; */

html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
}

#main-doc header {
  text-align: left;
  /* margin-left: 50px; */
  margin: 15px 0 15px 50px;
  font-family: sans-serif;
  font-weight: 600;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

#main-doc {
  position: relative;
  margin-left: 305px;
}

#main-doc section article {
  margin-left: 50px;
}

#navbar ul header {
  margin-left: -20px;
  font-family: sans-serif;
  font-weight: 600;
}

#navbar ul li {
  margin: 0 0 15px;
}