{% extends "users/base.html" %}

{% block content %}
  <div>
    <figure>
      <blockquote class="blockquote mt-5">
        <p>Networking Laborers to Enlightenment for Global Harvest.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Our <cite title="Source Title">Motto</cite>
      </figcaption>
    </figure>
  </div>

  <p><h5>Training Strategies:</h5><p>
    <ol>
      <li>Survey</li>
      <li>Recruiting</li>
      <li>Training</li>
      <li>Taking Possession</li>
    </ol>
    
  <p><h5>Scope of Thinking:</h5></p>
  <p class="way-think">
    BDTS specializes in holistic training programs. We provide quality training 
    for human development pertaining to effect the tri-parted nature of human beings.
  </p>
{% endblock %}